{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ================ Banner Section start Here =============== -->
<section class="banner-section">
    <div class="container">
        <div class="section-wrapper">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <div class="intro-form">
                            <div class="intro-form-inner">
                                <h3>Introducing git_commit</h3>
                                <p>Serious Dating With <strong>git_commit. </strong> Your Perfect
                                    Match is Just a Click Away.</p>
                                <!-- <form action="https://labartisan.net/" class="banner-form">
                                    <div class="gender">
                                        <label for="gender" class="left">I am a </label>
                                        <div class="custom-select right">
                                            <select name="gender" id="gender" class="">
                                                <option value="0">Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="person">
                                        <label for="gender-two" class="left">Looking for</label>
                                        <div class="custom-select right">
                                            <select name="gender" id="gender-two" class="">
                                                <option value="0">Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="age">
                                        <label for="age" class="left">Age</label>
                                        <div class="right d-flex justify-content-between">
                                            <div class="custom-select">
                                                <select name="age-start" id="age">
                                                    <option value="1">18</option>
                                                    <option value="2">19</option>
                                                    <option value="3">20</option>
                                                    <option value="4">21</option>
                                                    <option value="5">22</option>
                                                    <option value="6">23</option>
                                                    <option value="7">24</option>
                                                    <option value="8">25</option>
                                                    <option value="9">26</option>
                                                    <option value="10">27</option>
                                                    <option value="11">28</option>
                                                    <option value="13">29</option>
                                                    <option value="14">30</option>
                                                </select>
                                            </div>

                                            <div class="custom-select">
                                                <select name="age-end" id="age-two">
                                                    <option value="1">18+</option>
                                                    <option value="2">19</option>
                                                    <option value="3">20</option>
                                                    <option value="4">21</option>
                                                    <option value="5">22</option>
                                                    <option value="6">23</option>
                                                    <option value="7">24</option>
                                                    <option value="8">25</option>
                                                    <option value="9">26</option>
                                                    <option value="10">27</option>
                                                    <option value="11">28</option>
                                                    <option value="13">29</option>
                                                    <option value="14">30</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="city">
                                        <label for="city" class="left">City</label>
                                        <input class="right" type="text" id="city" placeholder="Your City Name..">
                                    </div>
                                    <button class="">Find Your Partner</button>

                                </form> -->
                                <ul class="social-list">
                                    <li class="google"><a href="#">
                                            <img src="{% static 'images/banner/google.png' %}" alt="img">
                                            <span>Continue with google</span>
                                        </a></li>
                                    <li class="facebook"><a href="index-2.html#">
                                            <i class="icofont-facebook"></i>
                                        </a></li>
                                    <li class="twitter"><a href="index-2.html#">
                                            <i class="icofont-twitter"></i>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-thumb">
                        <img src="{% static 'images/banner/02.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-shapes">
        <img src="{% static 'images/banner/banner-shapes/01.png' %}" alt="shape" class="banner-shape shape-1">
        <img src="{% static 'images/banner/banner-shapes/02.png' %}" alt="shape" class="banner-shape shape-2">
        <img src="{% static 'images/banner/banner-shapes/03.png' %}" alt="shape" class="banner-shape shape-3">
        <img src="{% static 'images/banner/banner-shapes/04.png' %}" alt="shape" class="banner-shape shape-4">
        <img src="{% static 'images/banner/banner-shapes/05.png' %}" alt="shape" class="banner-shape shape-5">
        <!-- <img src="{% static 'images/banner/banner-shapes/06.png' %}" alt="shape" class="banner-shape shape-6"> -->
        <img src="{% static 'images/banner/banner-shapes/07.png' %}" alt="shape" class="banner-shape shape-7">
        <img src="{% static 'images/banner/banner-shapes/08.png' %}" alt="shape" class="banner-shape shape-8">
    </div>
</section>





<!-- ================ Work Section start Here =============== -->
<section class="work-section padding-tb">
    <div class="container">

        <div class="section-header">
            {% for msg in messages %}
            <div class="alert alert-success alert-dismissible fade show" id="message" role="alert">
                <strong>{{ msg }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}


            <h4 class="theme-color">How Does It Work?</h4>
            <h2>You’re Just 3 Steps Away From A Great Date</h2>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center g-5">
                <div class="col-lg-4 col-sm-6 col-12 px-4">
                    <div class="lab-item work-item">
                        <div class="lab-inner text-center">
                            <div class="lab-thumb">
                                <div class="thumb-inner">
                                    <img src="{% static 'images/work/01.png' %}" alt="work-img">
                                    <div class="step">
                                        <span>step</span>
                                        <p>01</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lab-content">
                                <h4>Create A Profile</h4>
                                <p>Continua actualize ailers through robu
                                    and sertively concepze standards compliant
                                    commerce after technica sound.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 px-4">
                    <div class="lab-item work-item">
                        <div class="lab-inner text-center">
                            <div class="lab-thumb">
                                <div class="thumb-inner">
                                    <img src="{% static 'images/work/02.png' %}" alt="work-img">
                                    <div class="step">
                                        <span>step</span>
                                        <p>02</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lab-content">
                                <h4>Find Matches</h4>
                                <p>Continua actualize ailers through robu
                                    and sertively concepze standards compliant
                                    commerce after technica sound.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 px-4">
                    <div class="lab-item work-item">
                        <div class="lab-inner text-center">
                            <div class="lab-thumb">
                                <div class="thumb-inner">
                                    <img src="{% static 'images/work/03.png' %}" alt="work-img">
                                    <div class="step">
                                        <span>step</span>
                                        <p>03</p>
                                    </div>
                                </div>
                            </div>
                            <div class="lab-content">
                                <h4>Start Dating</h4>
                                <p>Continua actualize ailers through robu
                                    and sertively concepze standards compliant
                                    commerce after technica sound.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Work Section end Here =============== -->

<!-- ================ Top Member Section start Here =============== -->
<section class="top-member-section padding-tb">
    <div class="container">
        <div class="section-header">
            <h4 class="theme-color">Get Started</h4>
            <h2>Click on the Sign up button above</h2>
        </div>

    </div>
</section>
<!-- ================ Top Member Section end Here =============== -


    



<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
<!-- scrollToTop ending here -->

{% endblock %}