{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1 bg-pink">
    <div class="container">
        <div class="page-header-content">
            <div class="page-header-inner">
                <div class="page-title">
                    <h2>Register</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Sign up</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->

<!-- ==========Sign up Section start Here========== -->
<div class="login-section padding-tb bg-ash">
    <div class="container">
        <div class="account-wrapper">
            <h3 class="title">Register Now</h3>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form class="account-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" name="{{ form.password1.name }}" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="{{ form.password2.name }}" class="form-control" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="d-block lab-btn"><span>Get Started Now</span></button>
                </div>
            </form>
            <!-- <div class="account-bottom">
                <span class="d-block cate pt-10">Are you a member? <a href="{% url 'login' %}">Login</a></span>
                <span class="or"><span>or</span></span>
                <h5 class="subtitle">Register With Social Media</h5>
                <ul class="social-media social-color justify-content-center d-flex lab-ul">
                    <li>
                        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#" class="pinterest"><i class="icofont-pinterest"></i></a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- ==========Sign up Section ends Here========== -->

<script>

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')


    for (var field in form_fields) {
        form_fields[field].className += 'form-group'
    }
</script>

{% endblock %}